body {
  font-family: Arial, sans-serif;
  background-color: #1eadd1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 40px;
  color: #333;
}

.form-container {
  /* display: flex; */
  justify-content: space-around;
  width: 80%;
  max-width: 400px;
  margin: 30px 0;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: large;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.button-row {
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 5px;
}

.button-row + button {
  display: block;
  margin: 6px auto 0;
  width: fit-content;
}

.question-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

.question-block {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.question-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.options-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.options-grid button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.options-grid button:hover {
  background-color: #0056b3;
}

#signInButton,#signUpButton{
  all: unset; 
  cursor: pointer;
  text-decoration: underline;

}
.account-prmpt {
  display: flex;
  justify-content: center;
  gap: 4px;
  white-space: nowrap; 
}


#signUpMessage, 
#signInMessage {
  display: none;
  color: #030303;
  font-size: 14px;
  margin: 5px 0 10px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.feedback {
  margin: 15px 0;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.correct-answer {
  font-weight: bold;
  margin: 10px 0;
  font-size: 1.6em;
  text-align: center;
}

.leaderboard-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}

ol {
  list-style-type: none;
  padding-left: 0;
}

li {
  padding: 10px 20px;
  font-size: large;
  margin: 5px 0;
  background: #f5f5f5;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rank {
  font-weight: bold;
  width: 80px;
}

.score {
  color: #2c7be5;
  font-weight: bold;
  width: 150px;
}